<div class="center hero-unit">
  <h1>Bienvenue à l'Application d'Exemple</h1>

  <h2>
    Vous êtes sur la page d'accueil de l'application d'exemple du
    <a href="http://railstutorial.org/">Tutoriel de Ruby on Rails</a>.
  </h2>

  <%= link_to t(:sign_up), signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>